.BotomDes
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
.ImgContainer
  text-align center
.Img-Header
  width 30%
.TextArmero
  margin-top 12%
.MenuDes
   background rgb(34, 34, 34)
   margin-bottom -1px
.navbar-collapse
  padding-right: 0px;
  padding-left: 0px;
  box-shadow: 5px 13px 26px 6px white;
@media screen and (max-width: 440px)
  .Img-Header
	  width 30%
    height: 9em;
  

