.DivSlider
  padding 0
.slideMArgin
  width 100%
  margin 0
.InfoContainer h4
  margin 1em 0
.Info
  padding 10px
.InfoContainer img
  margin 0 auto
.Title-animate
  font-size 60px
  text-transform uppercase
.carousel-caption h3:first-child
  animation-delay: 1s
.carousel-caption h3:nth-child(2)
  animation-delay 2s
.carousel-caption
  bottom 37%
  width 75%
  left 12.8%
.container-image
  display none

@media (max-width: 768px){
  .container-image {
      display: block
      background-image: url(../../assets/images/cde4.png)
      background-size: cover
      background-repeat: no-repeat
      height: 270px
      position: relative
  }
}
@media screen and (max-width: 800px)
 .carousel-caption
   bottom 0%
 .Title-animate
   font-size 40px